<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title || "Sistema de Controle de Acesso" %></title>
  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
  <header>
    <h1>Sistema de Controle de Acesso</h1>
    <nav>
      <a href="/">Início</a>
      <a href="/auth/logout">Sair</a>
    </nav>
  </header>
  <main>
    <%- body %>
  </main>
  <footer>
    <p>&copy; 2024 Sistema de Controle de Acesso</p>
  </footer>
</body>
</html>
